<div class="common-login-signup-container p-2">
  <div>
    <img  src="../../../../assets/img/logo/logo-auth.png" class="common-login-signup-logo"/>
  </div>

  <div class="justify-content-center row w-100">
    <div class="w-50">
      <div class="py-2">
        <span class="title-text">Login</span>
      </div>
      <div>
        <div class="form-control">
          <div class="fc-label py-2">Email</div>
          <input type="text" name="email-address" id="email-address" placeholder="Enter your email">
          <!-- <div class="error-msg" >{{"loginForm.emailErrorMsg"}}</div> -->
        </div>
        <div class="form-control mt-20">
          <div class="fc-label">Password</div>
          <input type="password" name="password" id="password" placeholder="Enter your password">
          <!-- <div class="error-msg" >{{"loginForm.passwordErrorMsg"}}</div> -->
        </div>

        <div class="justify-content-between m-0 row py-3">
          <div class="form-control">
            <input type="checkbox" name="" id="">
            <span class="pl-1">Remember Me</span>
          </div>
          <div>
          <span class="fc-label">Forgot Password ?</span>
          </div>
        </div>

        <div class="btn-container btn-left btn-column mt-20">
          <a class="btn btn-green-gradient-bg btn-large btn-wide" tabindex="0"
            >Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
