$color-blue: #14213D;// #04724D;
$color-blue-2: #009933;//#08BC77;
$color-blue-3: #33CC33;// #24D390;
$color-blue-4: #045B39;
$color-blue-5: #00200E;

$color-grey-dark: #525C66;
$color-grey-light: #8B98A7;
$color-grey-light-2: #EFF1F4;
$color-grey-light-3: #EAEAEF;
$color-grey-light-4: #A3B2BF;
$color-grey-light-5: #F7F8F9;
$color-grey-light-6: #B6C7D8;
$color-grey-light-7: #F6F6F6;
$color-text: #292F36;
$color-white: #FFFFFF;
$color-black: #000000;
$color-red: #F03E3E;
$color-yellow: #EDAE49;
