$font-6: 6px;
$font-8: 8px;
$font-10: 10px;
$font-12: 12px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-26: 26px;
$font-28: 28px;
$font-30: 30px;
$font-36: 36px;
$font-42: 42px;
$font-48: 48px;
$font-54: 54px;
$font-60: 60px;
$font-72: 72px;
$font-84: 84px;
$font-90: 90px;

$font-light: 200;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// breakpoints for RWD
$XS: 320px;
$S: 425px;
$XM-more: 768px;
$M: 992px;
$L: 1024px;
$XL: 1200px;
$XXL: 1440px;
$XM: 767px;
$XXXL: 2160px;

$L-less: 1023px;
$XL-less: 1199px;
$XXL-less: 1439px;


$short-transition: 0.2s;
$long-transition: 0.5s;

$admin-sidebar-width: 180px;
$seller-sidebar-width: 250px;
